body{
    background-image: url("background.jpg");
}
.heading{
    font-size: 20px;
    text-align: center;
    width: 100%;
    margin: 0px;
    box-shadow: 5px 5px 5px orange;
}
.note{
    color: black;
}
#font-size{
    color: orange;
}
.copy_right_footer{
    position: fixed;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 189, 189);
    bottom: 0;
    text-align: center;
    width: 100%;
    line-height: 3;
}
canvas{
    box-shadow: 5px 5px 5px yellow;
    border: 5px solid pink;
    border-radius: 20px;
}